* {
  box-sizing: border-box;
}

body {
  font-family: "Saira", sans-serif;
  font-weight: 300;
  color: #fff;
  margin: 0;
  padding: 0;
}

.icon-color {
  color: #73c159;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 0;
  background-color: inherit;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fade-block {
  animation: fadeBlock 1.2s both;
  animation-delay: 0.5s;
}

@keyframes fadeBlock {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-left {
  animation: fadeLeft 0.8s both;
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fade-right {
  animation: fadeRight 0.8s both;
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fade-hight-text {
  animation: fadeHightTextTop 1.2s both;
}

@keyframes fadeHightTextTop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#nav-icon1 {
  display: none;
  width: 40px;
  height: 23px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
@media (max-width: 74.3125rem) {
  #nav-icon1 {
    display: block;
  }
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #116173;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 10px;
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 10px;
  transform: rotate(-135deg);
}

.info-top {
  width: 100%;
  height: auto;
  background-color: #116173;
}
.info-top .info-top-container {
  width: 100%;
  max-width: 1190px;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}
.info-top .info-top-container .info-top-left {
  display: flex;
}
.info-top .info-top-container .info-top-left .info-top-left-list {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
.info-top .info-top-container .info-top-left .info-top-left-list li {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.info-top .info-top-container .info-top-left .info-top-left-list li span {
  font-size: 0.8rem;
}
.info-top .info-top-container .info-top-right .info-top-right-icon {
  display: flex;
  gap: 0.2rem;
  margin: 0;
}
.info-top .info-top-container .info-top-right .info-top-right-icon li {
  list-style-type: none;
}
.info-top .info-top-container .info-top-right .info-top-right-icon li a {
  font-size: 1.2rem;
  color: #fff;
  transition: color 0.3s ease-in-out;
}
.info-top .info-top-container .info-top-right .info-top-right-icon li a:hover {
  color: #73c159;
  transition: color 0.3s ease-in-out;
}
@media (max-width: 74.3125rem) {
  .info-top {
    display: none;
  }
}

.header-logo {
  width: 80px;
  height: 80px;
}
@media (max-width: 74.3125rem) {
  .header-logo {
    width: 50px;
    height: 50px;
  }
}

.container-header-nav {
  position: relative;
  width: 100%;
  max-width: 1190px;
  height: auto;
  padding: 2rem 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
@media (max-width: 74.3125rem) {
  .container-header-nav {
    padding: 1rem;
  }
}

@media (max-width: 74.3125rem) {
  .header-nav {
    position: absolute;
    top: -500px;
    left: 0;
    z-index: 100;
    width: 100%;
    height: auto;
    padding: 0 1rem;
    transition: top 0.3s ease-in-out;
  }
}
.header-nav ul {
  display: flex;
  gap: 1.8rem;
  padding: 0;
  margin: 0;
  background-color: #fff;
}
@media (max-width: 74.3125rem) {
  .header-nav ul {
    flex-direction: column;
    gap: 0;
  }
}
.header-nav ul li {
  list-style-type: none;
}
@media (max-width: 74.3125rem) {
  .header-nav ul li {
    border-bottom: 1px solid #000;
  }
}
.header-nav ul li a {
  font-size: 1.2rem;
  font-weight: 600;
  color: #116173;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.header-nav ul li a:hover {
  color: #73c159;
  transition: color 0.3s ease-in-out;
}
@media (max-width: 74.3125rem) {
  .header-nav ul li a {
    display: block;
    text-align: center;
    padding: 1rem 2rem;
  }
}

.header-nav-show {
  top: 84px;
  transition: top 0.3s ease-in-out;
}

.menu-phone-call {
  background-color: #116173;
  color: #fff;
  font-weight: 600;
  padding: 1rem;
  letter-spacing: 0.2rem;
}

.header-contact-container {
  position: absolute;
  top: -150px;
  right: 16px;
  display: none;
  transition: top 0.3s ease-in-out;
}
.header-contact-container button {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  color: #116173;
  background-color: #73c159;
  border: none;
  cursor: pointer;
}
@media (max-width: 74.3125rem) {
  .header-contact-container {
    display: flex;
  }
}

.header-contact-container-show {
  top: 16px;
  transition: top 0.3s ease-in-out;
}

.header-nav-li-media {
  display: none;
}
@media (max-width: 74.3125rem) {
  .header-nav-li-media {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-nav-li-media a {
    font-size: 3rem !important;
    padding: 0.5rem !important;
  }
}

.menu-button-phone {
  display: none;
  border: none;
  background-color: inherit;
}
@media (max-width: 74.3125rem) {
  .menu-button-phone {
    display: block;
  }
}
.menu-button-phone i {
  font-size: 2rem;
  color: #116173;
}

.info-bottom {
  width: 100%;
  height: auto;
  background-color: #f9fafa;
}
.info-bottom .info-bottom-container {
  position: relative;
  width: 100%;
  max-width: 1190px;
  height: auto;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-bottom .info-bottom-container .info-bottom-ul {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
  padding: 0;
}
.info-bottom .info-bottom-container .info-bottom-ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  list-style-type: none;
}
.info-bottom .info-bottom-container .info-bottom-ul li i {
  display: block;
  padding: 1rem;
  font-size: 1.5rem;
  color: #73c159;
  background-color: #fff;
  border: 1px solid #ccc9c9;
}
.info-bottom .info-bottom-container .info-bottom-ul li span {
  font-size: 0.7rem;
  font-weight: 600;
  color: #116173;
}
.info-bottom .info-bottom-container .info-bottom-ul li .info-bottom-text {
  display: flex;
  flex-direction: column;
}
.info-bottom .info-bottom-container .header-bottom-tel {
  display: flex;
  align-self: flex-end;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #73c159;
  transition: background-color 0.3s ease-in-out;
}
.info-bottom .info-bottom-container .header-bottom-tel:hover {
  background-color: #116173;
  transition: background-color 0.3s ease-in-out;
}
.info-bottom .info-bottom-container .header-bottom-tel i {
  font-size: 1.5rem;
}
.info-bottom .info-bottom-container .header-bottom-tel span {
  letter-spacing: 0.2rem;
  font-weight: 600;
  font-size: 1rem;
}
@media (max-width: 74.3125rem) {
  .info-bottom {
    display: none;
  }
}

.banner-img {
  position: relative;
  width: 100%;
  height: 550px;
}
.banner-img .banner-img-background {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 550px;
  background-color: #116173;
}
.banner-img .banner-img-photo {
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  min-height: 550px;
}
.banner-img .banner-img-fog {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  min-height: 550px;
  background-color: rgba(17, 97, 115, 0.5725490196);
}
.banner-img .banner-img-container {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 6;
  width: 100%;
  max-width: 1190px !important;
  height: 100%;
  display: flex;
  align-items: center;
  min-height: 550px;
  margin-left: -595px;
  padding: 0 1rem;
}
@media (max-width: 74.3125rem) {
  .banner-img .banner-img-container {
    left: 0;
    margin-left: 0;
    justify-content: center;
  }
}
.banner-img .banner-img-container .banner-img-container-h1 h1 {
  display: block;
  font-size: clamp(3rem, 5vw, 5rem);
  padding: 0;
  margin: 0;
  text-shadow: 0 0 5px #000;
}
@media (max-width: 33.8125rem) {
  .banner-img .banner-img-container .banner-img-container-h1 h1 {
    text-align: center;
    line-height: 3.1rem;
  }
}
.banner-img .banner-img-container .banner-img-container-h1 h1 .h1-text-color {
  color: #73c159;
}
.banner-img .banner-img-container .banner-img-container-h1 h3 {
  font-size: clamp(1.5rem, 5vw, 2rem);
  margin: 0;
  text-shadow: 0 0 5px #000;
}
@media (max-width: 33.8125rem) {
  .banner-img .banner-img-container .banner-img-container-h1 h3 {
    margin-top: 1rem;
    text-align: center;
  }
}
.banner-img .banner-img-container .banner-img-container-h1 h3 .h3-text-color {
  color: #73c159;
}

.about-me-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5rem 1rem;
  background-color: #fff;
}
@media (max-width: 74.3125rem) {
  .about-me-container {
    padding: 1rem 1rem;
  }
}

.about-me-container-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 43%;
  height: 100%;
  background-image: url(./img/background_pyrit.svg);
}
@media (max-width: 74.3125rem) {
  .about-me-container-background {
    width: 100%;
    height: 600px;
  }
}

.about-me-gallery {
  opacity: 0;
}

.about-me-content-container {
  position: relative;
  width: 100%;
  max-width: 1190px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
  margin: 0 auto;
}
@media (max-width: 74.3125rem) {
  .about-me-content-container {
    align-items: normal;
  }
}
.about-me-content-container > * {
  flex: 1;
}
@media (max-width: 74.3125rem) {
  .about-me-content-container {
    flex-direction: column;
  }
}

.main-photo {
  position: relative;
  width: 100%;
  height: 550px;
  background-image: url(./img/_about_me_photo.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.name-banner {
  position: absolute;
  right: -30px;
  bottom: 40px;
  width: 100%;
  max-width: 400px;
  display: block;
  padding: 0.1rem 1rem;
  background-color: #116173;
}
.name-banner::before {
  border-color: #116173 transparent transparent #116173;
  border-style: solid;
  border-width: 15px;
  bottom: -30px;
  content: "";
  position: absolute;
  right: 0;
  z-index: 100;
}
.name-banner h2 {
  margin: 1rem 0;
  font-size: clamp(1.3rem, 5vw, 2rem);
  text-align: center;
}

.about-me-text-content {
  opacity: 0;
}
.about-me-text-content h3,
.about-me-text-content h4 {
  margin: 0;
}
.about-me-text-content h3 {
  padding: 1rem 1rem;
  padding-bottom: 0;
  font-weight: 300;
  color: #242424;
}
.about-me-text-content h4 {
  font-size: clamp(1.3rem, 5vw, 2rem);
  padding-left: 1rem;
  line-height: 2rem;
  color: #2a2929;
}
.about-me-text-content p {
  padding: 0 1rem;
  font-weight: 300;
  color: #242424;
}
.about-me-text-content .hide-text {
  height: 100%;
  max-height: 0;
}

.about-me-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.wrapper-content {
  min-height: 350px;
  overflow: hidden;
}
.wrapper-content p {
  margin-top: 10px;
}
@media (max-width: 74.3125rem) {
  .wrapper-content h3,
  .wrapper-content h4,
  .wrapper-content p {
    padding: 0;
  }
}

.wrapper-content-open {
  grid-template-rows: 1fr;
}

.about-read-more {
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 0;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Saira", sans-serif;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #73c159;
  color: #73c159;
  background-color: transparent;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.about-read-more:hover {
  color: #116173;
  border-color: #116173;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#price-list {
  width: 100%;
  height: auto;
  padding: 0 1rem;
  background-color: #f9fafa;
  color: #000;
}

.price-list-header h2 {
  text-align: center;
  font-size: clamp(5rem, 10vw, 6rem);
  font-weight: 900;
  color: #116173;
  margin: 0;
  padding: 0 1rem;
}

.price-list-container {
  width: 100%;
  max-width: 1190px;
  height: auto;
  padding: 1rem;
  margin: 0 auto;
}
@media (max-width: 74.3125rem) {
  .price-list-container {
    padding: 0;
    padding-bottom: 1rem;
  }
}

.price-list-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
@media (max-width: 74.3125rem) {
  .price-list-content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 46.4375rem) {
  .price-list-content {
    grid-template-columns: 1fr;
  }
}
.price-list-content .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  opacity: 0;
  padding: 1rem;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #b6b3b3;
}
.price-list-content .box .price-list-background {
  position: absolute;
  top: -170px;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 300px;
  background-color: #116173;
  transform: skewY(-20deg);
}
.price-list-content .box h3 {
  position: relative;
  z-index: 101;
  padding: 0 0.5rem;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 0px 3px #000;
}
.price-list-content .box .price-box {
  position: relative;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: border-box;
}
.price-list-content .box .price-box .price-box-container {
  padding: 1rem;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #000;
}
.price-list-content .box .price-box .price-box-container p,
.price-list-content .box .price-box .price-box-container h4 {
  text-align: center;
  padding: 0;
  margin: 0;
}
.price-list-content .box .price-box .price-box-container h4 {
  font-weight: 600;
}
.price-list-content .box .price-box .price-box-container p {
  font-weight: 300;
}

.curs-section {
  padding: 1rem 0;
  background-color: #fff;
}
.curs-section > :nth-of-type(even) > .content-wrap {
  margin-left: auto;
  flex-direction: row;
}
.curs-section > :nth-of-type(even) > .content-wrap .content-line {
  padding-left: 0;
  padding-right: 1rem;
}
@media (max-width: 62.5rem) {
  .curs-section > :nth-of-type(even) > .content-wrap {
    margin-left: 0;
  }
}

.curs-header h2 {
  margin: 0;
  font-size: clamp(5rem, 10vw, 6rem);
  color: #116173;
  text-align: center;
}

.curs-container {
  position: relative;
  top: -50px;
  width: 100%;
  max-width: 1190px;
  height: auto;
  margin: 0 auto;
  padding: 1rem;
  opacity: 0;
  transition: top 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

.content-wrap {
  display: flex;
  flex-direction: row-reverse;
  width: 50.64%;
}
@media (max-width: 62.5rem) {
  .content-wrap {
    flex-direction: row;
    width: 100%;
  }
}

.content-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
}
@media (max-width: 62.5rem) {
  .content-line {
    padding-left: 0;
    padding-right: 1rem;
  }
}
.content-line i {
  color: #73c159;
}
.content-line .line {
  width: 5px;
  height: 90%;
  background-color: #73c159;
  border-radius: 1rem;
}

.curs-content-item {
  width: 100%;
}

.curs-content-container {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s;
}

.curs-content-container-is-open {
  grid-template-rows: 1fr;
  transition: all 0.3s;
}

.open-wrapper-b {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 0;
  background-color: #73c159;
  border: 1px solid #6f6d6d;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.open-wrapper-b:hover {
  background-color: #59a83f;
  transition: background-color 0.3s ease-in-out;
}
.open-wrapper-b h4,
.open-wrapper-b i {
  padding: 0;
  margin: 0;
  color: #fff;
}
.open-wrapper-b h4 {
  padding-left: 0.5rem;
}
.open-wrapper-b i {
  background-color: #116173;
  padding: 1rem;
}

.show-ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  padding: 0;
  background-color: #f9fafa;
  overflow: hidden;
}
.show-ul > :nth-of-type(1) {
  padding-top: 1rem;
}
.show-ul > :last-of-type {
  padding-bottom: 1rem;
}
.show-ul li {
  list-style-type: none;
  font-size: 1.2rem;
  color: #000;
  line-height: 1.5rem;
  padding: 0 1rem;
}

.bxs-chevrons-down {
  transform: rotate(0);
  transition: transform 0.3s ease;
}

.container-service {
  background-color: #116173;
  padding: 2rem 0;
}
.container-service ul {
  padding: 0;
  margin: 0;
}
.container-service ul .section-list {
  list-style-type: none;
  border: 1px solid #fff;
  top: 15px;
  opacity: 0;
}

.servicer-header h2 {
  margin: 0.5rem 0;
  font-size: clamp(5rem, 10vw, 6rem);
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1190px;
  height: auto;
  margin: 0 auto;
  padding: 1rem;
}

.container-services-cont {
  display: flex;
  gap: 1rem;
}
@media (max-width: 74.3125rem) {
  .container-services-cont {
    flex-direction: column;
  }
}

.service-cont-left,
.service-cont-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.service-cont-left h3,
.service-cont-right h3 {
  text-align: center;
  font-size: clamp(1.7rem, 5vw, 3rem);
  margin: 0;
  padding: 0;
}
.service-cont-left ul,
.service-cont-right ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.service-li-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #73c159;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}
.service-li-header:hover {
  background-color: #59a83f;
  transition: background-color 0.2s ease-in;
}
.service-li-header h4 {
  margin: 0;
  font-size: clamp(1rem, 5vw, 1.2rem);
}
.service-li-header button i {
  font-size: 1.5rem;
  color: #116173;
}

.service-container-p {
  display: grid;
  grid-template-rows: 0fr;
  padding: 0;
  transition: all 0.3s ease-out;
}

.service-text {
  overflow: hidden;
  font-style: italic;
  margin: 0;
}

.bxs-down-arrow {
  transform: rotate(0);
  transition: transform 0.3s ease;
}

.service-container-p-show {
  grid-template-rows: 1fr;
  padding: 1rem;
  transition: all 0.3s ease-out;
}

.icon-move {
  transform: rotate(0.5turn);
  transition: transform 0.3s ease;
}

.fade-bottom {
  top: 0 !important;
  opacity: 1 !important;
  transition: all 0.5s ease-in-out;
}/*# sourceMappingURL=index.css.map */